@charset "UTF-8";

/* 바깥 컨테이너  */
.container {
	display: flex;
	max-width: 1024px;
	min-width: 320px;
	padding: 0 2.5%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
}

/* 제목 부분 */
.header {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0;
	align-items: center;
	background-color: rgba(78, 197, 61, 0.4);
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px
		rgba(0, 0, 0, 0.22);
	border: 0;
	border-radius: 10px;
}

.mnt {
	font-size: 18px;
}

.title {
	font-size: 25px;
	padding: 0 15px;
}

/* 글 본문 */
.contents {
	display: grid;
	grid-template-columns: 50px 150px minmax(100px, auto) 120px;
	grid-template-rows: 50px minmax(100px, auto) 30px;
	margin: 30px 0;
	border-radius: 10px;
	padding: 2%;
	background-color: rgb(255, 255, 255, 0.95);
	align-items: center;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px
		rgba(0, 0, 0, 0.22);
	border: 0;
	border-radius: 10px;
}
/* 글 내부 */
.userpic {
	width: 45px;
	height: 45px;
	border-radius: 15px;
}

.username {
	font-size: 15px;
	/*   border-bottom: 1px solid #cfcfcf; */
	padding-left: 5px;
}

.username:hover {
	color: #14ab2c;
}
.btns{
	justify-self: center;
}
.likeCnt{
	grid-row: 4;
	grid-column: 4;
	width: auto;
	justify-self: end;
}
.like {
	margin-right: 3px;
}
.content {
	grid-row: 2;
	grid-column: 1/5;
	padding: 20px 30px;;
	align-self: flex-start
}
@media screen and (max-width: 600px) {
	/* 글 본문 */
	.contents {
		grid-template-columns: 50px minmax(100px, auto) 0 100px;
		grid-template-rows: 50px minmax(100px, auto) 30px;
		padding: 10px;
	}
}

/* 댓글 수 */
.cnt {
	display: flex;
	width: 60px;
	height: 30px;
	margin: 10px;
	background-color: #ffffffba;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

/* 탑버튼, 코멘트버튼 */
.to {
	position: fixed;
	right: 30px;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	color: rgba(0, 0, 0, 0);
	opacity: 90%;
	z-index: 1;
}

.cmt {
	bottom: 40px;
	background: url(../svg/chat.svg);
}

.top {
	display: none;
	bottom: 80px;
	background: url(../svg/top.svg);
}
/* 서치바 숨기기 */
.search-bar {
	display: none;
}